h1 {
    color: orange;
    font-size: 4rem;
    font-family: Verdana;
    }

    #um{
        color: rgb(47, 34, 163);
        font-size: 2rem;
    }
    #dois{
        color: rgb(55, 156, 109);
        font-size: 2rem;
    }
    #tres{
        color: rgb(197, 22, 119);
        font-size: 2rem;
    }